[package]
name = "app"
edition = "2024"
license = "Apache-2.0"

[dependencies]
ankaios_sdk = { path = "/workspaces/build/ankaios_sdk" }
serde_yaml = "0.9"
tokio = { version = "1.41", features = ["rt-multi-thread"] }

[package.metadata.cargo-machete]
ignored = ["serde_yaml"]
